body {
  height: 100vh;
  background: #5C5C5C; /* fallback for old browsers */
  background: -webkit-radial-gradient(
          circle,
          #5C5C5C
          #343434
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(
          circle,
          #5C5C5C,
          #343434
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
